@import "/css/textarea.css";

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textbox {
  padding: 2rem;
  font: inherit;
  font-size: 1.2em;
  border: none;
  background: none;
  margin: 0;
  word-wrap: break-word;
  text-wrap: unrestricted;
  max-width: 100%;

  &:focus {
    outline: none;
  }

  &.empty::before {
    position: absolute;
    content: attr(placeholder);
    color: #888;
  }

}